@charset "ISO-8859-1";

body{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #ddd;
	background-image: url("1.jpg");
	background-size: cover;
	opacity: .4;
}

.topmenu{
	color: #fff;
	background-color: #fff;
}

.container-fluid{
	font-size: 12px;
	color: #fff;
}

.h2{
	font-size: 12px;	
	color: #fff;
}

.fields {
	color: #fff;	
}

.row {
	color: #fff;
}
	

